RewriteEngine On


RewriteCond %{HTTP_HOST} ^omerfarukdilek.com [NC]
RewriteRule ^(.*)$ https://www.omerfarukdilek.com/$1 [L,R=301,NC]



ErrorDocument 404 https://omerfarukdilek.com/404.php

RewriteRule ^hakkimda$ hakkimda.php [NC,L]
RewriteRule ^Anasayfa$ index.php [NC,L]
RewriteRule ^iletisim$ iletisim.php [NC,L]


RewriteRule ^kategori-([0-9a-zA-Z-_]+)  kategoriler.php?sef=$1 [L,QSA]

RewriteRule ^([0-9a-zA-Z-_]+)-([0-9]+)$ icerik-detay.php?sef=$1&icerik_id=$2 [L,QSA]
